<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}">

    <title>MovieWEB</title>
</head>
<body>
<!---->
<header th:replace="~{navbar :: Navbar}"></header>
<!---->
<div>
    <form th:action="@{/add}" th:object="${newMovie}" method="post" style="margin-top: 20px">

        <div class="form-group col-6 offset-3">
            <label for="titleNewMovie">Tytuł filmu:</label>
            <input type="text" maxlength="200" class="form-control " id="titleNewMovie" th:field="*{title}" required>
        </div>

        <div class="form-group col-6 offset-3">
            <label>Wybierz kategorię:</label>
            <select class="form-select"  id="categoryNameMovie" name="categoryNameMovie"  required>
                <div th:object="${categoryList}" th:each="category : ${categoryList}">
                    <option th:value="${category.categoryName}" th:text="${category.categoryName}" th:object="${newMovie}" th:field="*{categoryNameMovie}"></option>
                </div>
            </select>
        </div>

        <div class="form-group col-6 offset-3">
            <label for="releaseYearNewMovie">Rok premiery:</label>
            <input type="number" min="1900" max="2050" class="form-control " id="releaseYearNewMovie"
                   th:field="*{releaseYear}" value="2023" required>
        </div>

<!--        <div class="form-group col-6 offset-3">-->
<!--            <label for="ratingNewMovie">Ocena filmu:</label>-->
<!--            <select class="form-select" aria-label="Default select example" id="ratingNewMovie"-->
<!--                    th:field="${newMovie.rating}" required>-->
<!--                <option value=1>1</option>-->
<!--                <option value=2>2</option>-->
<!--                <option value=3>3</option>-->
<!--                <option value=4>4</option>-->
<!--                <option value=5>5</option>-->
<!--                <option value=6>6</option>-->
<!--                <option value=7>7</option>-->
<!--                <option value=8>8</option>-->
<!--                <option value=9>9</option>-->
<!--                <option value=10>10</option>-->
<!--            </select>-->
<!--        </div>-->

        <div class="form-group col-6 offset-3">
            <label for="descriptionMovieNewMovie">Opis filmu:</label>
            <textarea class="form-control" id="descriptionMovieNewMovie" rows="3" maxlength="250"
                      th:field="*{descriptionMovie}"></textarea>
        </div>

        <div class="form-group col-6 offset-3">
            <label for="imgNewMovie">Adres grafiki:</label>
            <input type="text" maxlength="200" class="form-control " id="imgNewMovie" th:field="*{img}">
        </div>

        <div class="col-2 offset-3">
            <br>
            <input type="submit" class="btn btn-primary" value="Dodaj film do bazy">
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>